.bg{
    background-color: var(--panelColor); 
}

.dashHeader{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
    margin-top: .5rem;;
    margin-bottom: .5rem;
}

.txtContainer{
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left: 12px;
}

.headtxt{
    padding-right: 1.25rem;
}

.mainBody{
    display: inline-flex;
    width: 100%;
}

.bodyContainer{
    background-color: inherit;
    display: block;
    margin: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.leftBody{
    order: 1;
    width: 30%;
    margin: auto;
}

.rightBody{
    order: 2;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagram{
    margin-right :50px;
    margin-top: 50px;
    max-height: 270px;
    min-width: 320px;
}

.circle{
    fill: var(--panelColor);
}

.sun{
    padding: 3px;
    background: var(--panelColor);
    color: #ffe000;
    border: 2px solid var(--panelColor);
    border-radius: 50%;
}

.moon{
    padding: 3px;
    background: black;
    color: var(--panelColor);
    border: 5px solid var(--panelColor);
    border-radius: 50%;
}

.temp{
    font-size: 5rem;
    position: relative;
    bottom: 235px;
    right: -110px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    bottom: 220px;
    left: 33px;
}

.descriptionIcon{
    margin: .5rem;
}

.leftContainer{
    height: 100%;
}

.verticalMarginAuto{
    padding:.75rem;
}

.hourlyList{
    list-style-type: none;
    display: flex;
    overflow-x: auto;
}

.hourlyItem{
    padding: .5rem;
}

.hourlyDiv{
    width: 5rem;
    text-align: center;
}

.forcastHeader{
    display: flex;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.forcast{
    background-color: var(--panelColor) !important;
    display: flex;
}

.row{
    margin: 0px !important;
}

.altbg{
    background-color: #f0f0f0 !important;
}

.day{
    justify-content: center;
    text-align: center;
    padding: .75rem;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertContainer{
    position: absolute;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
}

.alert{
    border-radius: 0;
    margin-left:auto;
    margin-right: auto;
}

.alert-danger{
    background-color: white;
    border-color: none;
    box-shadow: var(--shadow)

}

.black{
    color: black;
}

.justify-content-end{
    justify-content: space-between!important;
}

@media only screen and (max-width: 768px){
    .mainBody{
        display: block;
    }
    .rightBody{
      width: auto;
    }
    .leftBody{
      width: auto;;
    }
    .leftContainer{
        display:inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .col{
        flex: auto;
    }
  }

@media only screen and (max-width: 400px){
    body{
        overflow-x: hidden;
    }
}