.sunColor{color: #ffe000;}
.moonColor{color: black;}
.cloudColor{color: #6ac8f8;}
.overcastColor{color: #5b8daa}
.rainColor{color: #469bd1;}
.thunderColor{color: #ffc800;}
.snowColor{color: #00d8ff;}
.hazeColor{color: #737373;}
