.flex-center{
    display: flex;
    justify-content: center;
}
/* used for flexible rows */
.inline-flex-center{
    width:100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
/* margin for search bar fields/buttons */
.margin{
    margin: .5rem;
}

.margin-top{
    margin-top:1rem;
}

/*brings buttons inline with input fields*/
.realative-top{
    position: relative;
    top:1.5rem;
}