*{
    --panelColor: white;
}

.mainContent{
    scrollbar-color: var(--offwhite) var(--panelColor);
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
    min-width:302px;
}

.searchTab{
    padding-left: 0px;
    padding-right: 0px;
}

.tabs {
    border: none;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.title{
    white-space: nowrap;
}

.nav-link{ 
    color: inherit !important;
    margin: 0px !important;
    border: none !important;
}

.nav-link.active{
    border: 0px !important;
    background-color: var(--panelColor) !important;
    box-shadow: 0px -2px 2px hsl(0deg 0% 0% / 13%);
    border-radius: 0px !important;
}